<!DOCTYPE html>
<html>
  <head>
    <title>Recipe - Edit recipe</title>
  </head>
  <body>
    <div>
      <h1 id="recipe-heading">New recipe</h1>
      <form id="save-recipe-form" onsubmit="return false">
        <label for="recipe-name">Recipe name</label><br />
        <input id="recipe-name" type="text" name="hest" /><br />

        <label for="recipe-description">Recipe Description</label><br />
        <input id="recipe-description" type="text" name="hist" /><br />

        <label for="recipe-portions">Recipe portions</label><br />
        <input id="recipe-portions" type="text" name="hast" />

        <br />
        <br />
        <input
          type="submit"
          id="save-recipe-btn"
          value="Submit"
          disabled="disabled"
        />
      </form>

      <br />
      <br />
      <div id="recipe-ingredient-feed"></div>
      <br />
      <button id="add-ingredient-input-btn">Add ingredient input</button>

      <br />
      <br />
      <div id="recipe-step-feed"></div>
      <br />
      <button id="add-step-input-btn">Add recipe input</button>

      <br />
      <br />
      <button id="save-btn">Log and save</button>

      <div id="recipeId"></div>
    </div>

    <script src="/static/js/api_calls.js"></script>
    <script src="/static/js/ingredients.js"></script>
    <script src="/static/js/steps.js"></script>
    <script src="/static/js/check_input.js"></script>
    <script src="/static/js/utils.js"></script>
    <script type="text/javascript">
      const recipeHeading = document.getElementById('recipe-heading');
      const recipeNameInput = document.getElementById('recipe-name');
      const recipeDescriptionInput =
        document.getElementById('recipe-description');
      const recipePortionsInput = document.getElementById('recipe-portions');
      const saveRecipeForm = document.getElementById('save-recipe-form');

      // for testing
      const dummyCreateButton = document.getElementById('dummy-create');
      const saveBtn = document.getElementById('save-btn');

      // ejs values
      var data = '<%- JSON.stringify(data) %>';
      var rId;

      // are set by fetch
      var ingredients = [];
      var units = [];

      console.log(`data: ${data}`);
      ('<% if (data != -1) { %>');
      strRecipeId = '<%= data.id %>';
      recipeHeading.innerText = 'Edit recipe';
      recipeNameInput.value = '<%= data.name %>';
      recipeDescriptionInput.value = '<%= data.description %>';
      recipePortionsInput.value = '<%= data.portions %>';
      ('<%}%>');

      rId = parseInt(strRecipeId);
      console.log(`rId = ${rId}`);

      saveRecipeForm.addEventListener('submit', () => {});

      addIngredientInputBtn.addEventListener('click', () => {
        addIngredientInput();
      });

      addStepInputBtn.addEventListener('click', () => {
        addStepInput();
      });

      saveBtn.addEventListener('click', () => {
        console.log('SaveBtn was clicked');

        saveCurrentIngredientInputs();
        saveCurrentStepInputs();
        if (!allRecipeInputsAreValid()) return;

        // the object we are sending
        var newRecipe = {
          recipe: {
            name: null,
            description: null,
            portions: null,
          },
          ingredients: null,
          steps: null,
        };

        // recipe
        newRecipe.recipe.name = recipeNameInput.value;
        newRecipe.recipe.description = recipeDescriptionInput.value;
        newRecipe.recipe.portions = recipePortionsInput.value;

        newRecipe.ingredients = getFormattedRecipeIngredients();
        newRecipe.steps = getFormattedRecipeSteps();

        console.log(`About to send:`);
        console.log(newRecipe);

        updateFullRecipe(rId, newRecipe).then((response) => {
          if (!response.ok) {
            const errorMessage = `Error ${response.status} - ${response.statusText}`;
            console.log(errorMessage);
            return alert(errorMessage);
          } else {
            return (window.location.href = `../../recipes/${rId}`);
          }
        });
      });

      // if new entry, then rId is set to -1

      // fetch the recipe, available ingredients and units
      Promise.all([getFullRecipe(rId), getIngredients(), getUnits()])
        .then((responses) => Promise.all(responses.map((res) => res.json())))
        .then(([recipeResponse, ingredientResponse, unitResponse]) => {
          // ingredients and units must be set first
          ingredients = ingredientResponse;
          console.log(ingredients);
          units = unitResponse;
          console.log(units);
          // recipe
          console.log(recipeResponse);
          recipeIngredientArray = recipeResponse.ingredients;
          recipeStepArray = getStepDescriptionArray(recipeResponse.steps);
          console.log(recipeIngredientArray);

          // rerender the feeds
          rerenderRecipeIngredientsFeed();
          rerenderRecipeStepsFeed();
        });
    </script>
  </body>
</html>
