<!DOCTYPE html>
<html>
    <head>
        <title>Recipe - <%= data.name %></title>
    </head>
    <body>

        <div>
            <a href="/..">&lt-- To the recipe list</a>
        </div> 
        <h1> <%= data.name %> (<%= data.id %>)</h1>
        <div> <%= data.description %> </div>
        <div> <%= data.created_on %> </div>
        
        <button type="edit" id="edit-recipe-btn">EDIT</button>
        <button type="delete" id="delete-recipe-btn">DELETE</button>

        <div id="steps-list">

        </div>

        <script src="/static/js/recipe.js"></script>
        <script type="text/javascript">
            
            var recipeId= '<%= data.id %>'
            const deleteBtn = document.getElementById('delete-recipe-btn')
            const editBtn = document.getElementById('edit-recipe-btn')
            const stepsList = document.getElementById('steps-list')

            var steps = []

            function renderSteps(list) {
                var stepsHtml = ""
                for (let i=0; i < list; i++) {
                    stepsHtml = `<p>${list[i]}</p>`
                }
                stepsList.innerHTML = stepsHtml
            }

            getStepsForRecipe(recipeId)
                .then((response) => response.json())
                .then((data) => {
                    console.log(data)
                })
            
            deleteBtn.addEventListener("click", () => {
                deleteRecipe(recipeId).then(
                    window.location.pathname = ('/..') // navigates user back to main page
                )
            })

            editBtn.addEventListener("click", () => {
                window.location.pathname = ('/../edit/' + recipeId)
            })

            async function deleteRecipe(recipeId) {
                const url = "https://lud-recipe-api.herokuapp.com/api/recipes/" + recipeId
                const config = {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }
                fetch(url, config)
            }
            
        </script>
    </body>
</html>