<!DOCTYPE html>
<html>
    <head>
        <title>Recipe - <%= data.name %></title>
    </head>
    <body>
        <h1> <%= data.name %> (<%= data.id %>)</h1>
        <div> is <%= data.description %> </div>
        <div> created on <%= data.created_on %></div>
        <button type="delete" id="delete-recipe-btn">Delete</button>

        <script type="text/javascript">
            console.log("test")
        </script>
    </body>
</html>