<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Some app</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <%- include('partials/header.ejs') %> <%-
    include('partials/add-new-recipe-button.ejs') %>

    <section>
      <h1>RECIPES</h1>

      <div id="recipe-feed">
        <% for (let i = 0; i < data.length; i++) { %>
        <p>
          <a href="<%= url %>/recipes/<%= data[i].id %>">
            <%= data[i].id %> <%= data[i].name %> <%= data[i].taste %>
          </a>
        </p>
        <% } %>
      </div>
    </section>

    <!-- <script type="text/javascript" src="/static/js/animation.js"></script> -->
  </body>
</html>
