<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head-links.ejs') %>
    <title>Recipe - <%= data.name %></title>
  </head>
  <body>
    <div class="wrapper">
      <section>
        <div class="container">
          <a href="/..">&lt-- To the recipe list</a>
        </div>
      </section>

      <section>
        <div class="container">
          <h1><%= data.name %> (<%= data.id %>)</h1>
          <div><%= data.description %></div>
          <div><%= data.created_on %></div>
        </div>
      </section>

      <section>
        <div class="container">
          <h2>Ingredients</h2>
          <div id="ingredients-list"></div>
        </div>
      </section>

      <section>
        <div class="container">
          <h2>Steps</h2>
          <div id="steps-list"></div>
        </div>
      </section>

      <% if (user != null) { %>
      <section>
        <div class="container">
          <div class="text-center">
            <button class="btn btn-secondary" type="edit" id="edit-recipe-btn">
              EDIT
            </button>
            <button
              class="btn btn-secondary"
              type="delete"
              id="delete-recipe-btn"
            >
              DELETE
            </button>
          </div>
        </div>
      </section>
      <% } %>
    </div>

    <script src="/static/js/api_calls.js"></script>
    <script type="text/javascript">
      var recipeId = '<%= data.id %>';

      ('<% if (user != null) { %>');
      const deleteBtn = document.getElementById('delete-recipe-btn');
      const editBtn = document.getElementById('edit-recipe-btn');
      ('<% } %>');

      const stepsList = document.getElementById('steps-list');
      const ingredientList = document.getElementById('ingredients-list');

      function renderSteps(list) {
        var stepsHtml = '';
        for (let i = 0; i < list.length; i++) {
          stepsHtml += `<p>${list[i].step_number} - ${list[i].description}</p>`;
        }
        stepsList.innerHTML = stepsHtml;
        console.log('Rendered steps');
      }

      function renderIngredients(list) {
        var ingredientsHtml = '';
        for (let i = 0; i < list.length; i++) {
          ingredientsHtml += `<p>${list[i].ingredient} ${list[i].quantity} ${list[i].unit}</p>`;
        }
        ingredientList.innerHTML = ingredientsHtml;
        console.log('Rendered ingredients');
      }

      ('<% if (user != null) { %>');
      deleteBtn.addEventListener('click', () => {
        deleteRecipe(recipeId).then((window.location.pathname = '/..')); // navigates user back to main page
      });

      editBtn.addEventListener('click', () => {
        window.location.pathname = '/../edit/' + recipeId;
      });

      ('<% } %>');

      console.log(recipeId);
      getFullRecipe(recipeId)
        .then((response) => response.json())
        .then((data) => {
          console.log(data);
          renderSteps(data.steps);
          renderIngredients(data.ingredients);
        });
    </script>
  </body>
</html>
