<!DOCTYPE html>
<html>
    <head>
        <title>Recipe - <%= data.name %></title>
    </head>
    <body>
        <h1> <%= data.name %> (<%= data.id %>)</h1>
        <div> is <%= data.description %> </div>
        <div> created on <%= data.created_on %></div>
        <button type="delete" id="delete-recipe-btn">Delete</button>

        
        <script type="text/javascript">
            
            var recipeId= '<%= data.id %>'
            const deleteBtn = document.getElementById('delete-recipe-btn')

            deleteBtn.addEventListener("click", () => {
                deleteRecipe(recipeId).then(
                    window.location.pathname = ('/..') // navigates user back to main page
                )
            })

            async function deleteRecipe(recipeId) {

                const url = "https://lud-recipe-api.herokuapp.com/api/recipes/" + recipeId

                const config = {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }

                fetch(url, config)
                .then(response => response.json())
                .then(data => {
                    console.log(data)
                    alert(data)
                })
            }
            
            console.log("test")
        </script>
    </body>
</html>